:root {
  --primary-text-color: #4d5ae5;
  --secondary-text-color: #2e2f42;
  --tertiary-text-color: #434455;
  --button-bgd-color: #f4f4fd;
  --typical-background-color: #fff;
  --active-bgd-color: #404bbf;
  --button-border-color: #e7e9fc;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --icon-color: #8e8f99;
  --icon-bgd-color-hover: #31d0aa;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--typical-background-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  color: var(--secondary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--button-border-color);
  background-color: transparent;
  cursor: pointer;
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ======= HEADER ============ */

/* .header {
  border-bottom: 1px solid var(--button-border-color);
  background-color: var(--typical-background-color);
} */

/* .header-container {
  display: flex;
  align-items: center;
} */

/* .header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
} */

/* .header-logo {
  line-height: 1.33;
  color: var(--secondary-text-color);
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
} */

/* .accent {
  color: var(--primary-text-color);
} */

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-text-color);
}

.current {
  color: var(--active-bgd-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-bgd-color);
}

.address {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}

.address-contact {
  display: flex;
  align-items: center;
}

.address-item {
}

.address-link {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 40px;
  color: var(--tertiary-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-text-color);
}

/* ========= HERO ========*/
.hero {
  display: flex;
  text-align: center;
  padding-top: 188px;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 188px;
  background-color: var(--secondary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-header {
  text-align: center;
  max-width: 507px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.mdl-button {
  min-width: 169px;
  padding: 16px 32px;
  color: var(--typical-background-color);
  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px var(--button-border-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.mdl-button:hover,
.mdl-button:focus {
  color: var(--primary-text-color);
  background-color: var(--button-bgd-color);
}

/* ======== VALUES ========== */

.values {
  padding-top: 120px;
  background-color: var(--typical-background-color);
}

.values-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.value-items {
}

.value-icon-box {
  box-sizing: border-box;
  width: 264px;
  padding: 24px 100px;
  background-color: var(--button-bgd-color);
  border-radius: 4px;
}

.value-icon {
  height: 64px;
  width: 64px;
}

.value-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.values-descr {
  color: var(--tertiary-text-color);
}

/* =======OCCUPATION ====== */
.occupation {
  background-color: var(--typical-background-color);
}

.occupation-header {
}

.occupation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 48) / 3);
}

.occupation-item {
  cursor: pointer;
}

/* =========== OUR TEAM =========== */

.team {
  background-color: var(--button-bgd-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-header {
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}



.team-member-content {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--typical-background-color);
}

.team-member-header {
  margin-bottom: 8px;
}

.team-member-occupation {
  margin-bottom: 8px;
  color: #434455;
}

.team-member-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-member-soc-item {
  width: 40px;
  height: 40px;
}

.team-member-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.team-member-soc-link:hover,
.team-member-soc-link:focus {
  background-color: #2b2c39;
}

.team-member-soc-icon {
  fill: var(--button-bgd-color);
}

/* -----CUSTOMERS------- */

.customers {
  background-color: var(--typical-background-color);
}

.customers-header {
}
.section-header {
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.customers-icon {
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.customers-link:is(:hover, :focus) {
  color: var(--active-bgd-color);
  border-color: var(--active-bgd-color);
}

.customers-link:is(:hover, :focus) .customers-icon:is(:hover, :focus) {
  fill: var(--active-bgd);
}

/* ------- 2nd PAGE -------- */
/* -------- FILTERS -------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: var(--typical-background-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.filter-item {
}

.filter-button {
  padding: 12px 24px;
  color: var(--primary-text-color);
  background: var(--button-bgd-color);
  background-color: var(--button-bgd-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: #fff;
  border-color: var(--active-bgd-color);
  background-color: var(--active-bgd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100%-2 * 24) / 3);
}

.project-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-item:hover .project-overflow-text,
.project-item:focus .project-overflow-text {
  transform: translateY(0%);
}

.project-text-wrap {
  position: relative;
  overflow: hidden;
}

.project-overflow-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;
  color: var(--button-bgd-color);
  background-color: var(--primary-text-color);
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  overflow: auto;
}

.project-item-link {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.project-item-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-content {
  padding: 32px 16px;
  background-color: var(--typical-background-color);
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-title {
  margin-bottom: 8px;
}

.project-subtitle {
  color: var(--tertiary-text-color);
}

/* ------FOOTER ------*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--secondary-text-color);
}

.footer-flex {
  display: flex;
  gap: 120px;
}
.footer-descr-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 16px;
  line-height: 1.17;
  color: var(--button-bgd-color);
}

.footer-descr {
  max-width: 264px;
  line-height: 1.5;
  color: var(--button-border-color);
}

.footer-soc-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-soc-title,
.subscribe-title {
  margin-bottom: 16px;
  color: var(--typical-background-color);
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.team-member-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--icon-bgd-color-hover);
}

.footer-soc-icon {
  fill: var(--button-bgd-color);
}

/* Subscribe to the website */

.subscribe-form {
  display: flex;
  column-gap: 24px;
  margin-bottom: 16px;
}

.subscribe-title {
}

.subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  width: 264px;
  height: 40px;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.subscribe-input:focus,
.subscribe-comment:focus {
  border-color: var(--primary-text-color);
}

.subscribe-submit {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  color: var(--typical-background-color);
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
  border: none;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.subscribe-icon {
  margin-left: 16px;
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.subscribe-submit:is(:hover, :focus) {
  color: var(--primary-text-color);
  background-color: var(--typical-background-color);
}

.subscribe-submit:is(:hover, :focus) .subscribe-icon:is(:hover, :focus) {
  fill: var(--primary-text-color);
}

/* <!------- MODAL WINDOW ------> */

.backdrop {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  z-index: 100;
  min-height: 576px;
  width: 408px;
  padding: 0px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* center the modal */
  background-color: var(--typical-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scale(0.75);
}

/* .modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--button-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
} */

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--active-bgd-color);
}

.modal-close-button-icon {
  fill: black;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: var(--typical-background-color);
}

.modal-title {
  padding-top: 72px;
  padding-bottom: 16px;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form {
  margin-bottom: 24px;
}

.modal-field {
  margin-bottom: 8px; /*not sure what this is taken from .modal-input*/
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--tertiary-text-color);
  outline: transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: var(--primary-text-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-text-color);
}

.modal-input-text {
  color: var(--icon-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-input::placeholder,
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  margin-bottom: 16px;
  color: var(--tertiary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: transparent;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.modal-check:checked + .check-text span {
  background-color: var(--active-bgd-color);
  border: none;
  fill: var(--button-bgd-color);
}

.check-text {
  display: flex;
  color: #757575;
  margin-bottom: 24px;
}

.privacy-policy {
  text-decoration-line: underline;
  color: var(--primary-text-color);
  cursor: pointer;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
}






@media screen and (min-width: 1200px) {
  .small-container {
    max-width: 1158px;
  }
}